* {
    padding: 0px;
    margin: 0px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'LibreBodoni';
  src: url('/fonts/LibreBodoni-VariableFont_wght.woff2') format('woff2-variations'),
       url('/fonts/LibreBodoni-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FacultyGlyphic';
  src: url('/fonts/FacultyGlyphic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}